<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'cs' }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision }}">
    <link rel="stylesheet" href="/assets/css/my_adjustments.css">
    {% include mathjax_support.html %}
    {% include seo.html %}
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="site-title"><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
        <h2 class="site-description">{{ site.description | default: site.github.project_tagline }}</h2>
        <section id="downloads">
          <a href="{{ site.github.user_url }}" class="btn btn-github">
            <span class="icon"></span>
            GitHub (TrinityCoder)
          </a>
          <a href="{{ site.gitlab.user_url }}" class="btn btn-gitlab">
            <span class="icon"></span>
            Gitlab (mmares.trinity)
          </a>
          <a href="{{ '/o-mne' | relative_url }}" class="btn btn-o-mne">
            O mně
          </a>
        </section>
      </div>
    </header>
    <div class="container" aria-label="Content">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
      {% include google_analytics.html %}
  </body>
</html>
