---
layout: default
---
<div class="home">
  <h1 class="page-heading">Články</h1>
  {{ content }}
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%d. %m. %Y" %}
        <span class="post-meta">
          {{ post.date | date: date_format }}
        </span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        <div class="post-content">
          {{ post.excerpt | strip_html }}
        </div>
        {% if post.tags.size() > 0 %}
          <div style="float: right;">
            <small>tagy: <em>{{ post.tags | join: "</em>, <em>" }}</em></small>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
