---
layout: default
---
<div class="home">
  <h1 class="page-heading">Články</h1>
  {{ content }}
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%d. %m. %Y" %}
        <span class="post-meta">
          {{ post.date | date: date_format }}
        </span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        <div class="post-content">
          {{ post.excerpt | strip_html }}
        </div>
        <small style="float: right;">
          Kategorie: {% post.category | default: "Nezařazeno" %}
        </small>
        <small style="float: right;">
          {% if post.tags.size() > 0 %}
            Tagy:&nbsp;&nbsp;
            {% for tag in post.tags %}
              <em>{{ tag }}</em>&nbps;
            {% endfor %}
          {% endif %}
        </small>
      </li>
    {% endfor %}
  </ul>
</div>
