---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting" style="margin-bottom: 1.67rem;">
  <div class="post-header">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      <small>{{ page.date | date: "%-d %B %Y" }}</small>
    </time>
    <h1 class="post-title" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
  </div>

  <div class="post-content">
    {{ content }}
  </div>

  {% if page.tags %}
    <div style="float: right;">
      <small>tags: <em>{{ page.tags | join: "</em>, <em>" }}</em></small>
    </div>
  {% endif %}
</article>

{% include disqus_comments.html %}
